@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Raleway"), local("Raleway-Regular"), url(/public/static/fonts/raleway-v14-latin-regular.woff2) format("woff2"), url(/public/static/fonts/raleway-v14-latin-regular.woff) format("woff")
}
