$default-bg-color: black;
$default-text-color: white;
$transition-time: .5s;
$background-blur: 10px;
$background-scale: 1.03;

* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
    font-family: Raleway, sans-serif;
    background-color: $default-bg-color;

    .lodaer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        background: #d0a9a9fc;
        backdrop-filter: blur(15px);
        transition: all $transition-time;
        opacity: 0;
        transform: scale(2);

        &.active {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    .background,
    .container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/public/static/img/bg.jpg');
        transition: all 1.5s;
    }

    &.blur .background {
        filter: blur($background-blur);
        transform: scale($background-scale);
        opacity: 0.92;
    }

    @media screen and (min-width: 1088px) {
        .container {
            width: 960px
        }
    }

    @media screen and (min-width: 1280px) {
        .container {
            width: 1152px
        }
    }

    @media screen and (min-width: 1472px) {
        .container {
            width: 1344px
        }
    }

    a,
    a:hover,
    a:active {
        text-decoration: none;
        color: $default-text-color;

        &:hover {
            opacity: 0.8;
        }
    }

    .container {
        margin: 0 auto;
        color: $default-text-color;
        display: flex;
        flex-direction: column;

        .header,
        .footer {
            flex: none;
            text-shadow: 1px 1px 3px black;
        }

        >.header {
            font-size: 18px;
            padding: 15px 0;
            display: flex;

            >* {
                flex: none;
            }

            .logo {
                padding-right: 30px;
            }

            >.search {
                padding: 15px 0 15px 15px;

                input {
                    border: none;
                    background-color: #ffffff6e;
                    font-size: 14px;
                    padding: 7px 20px;
                    border-radius: 99px;
                    outline: none;
                    color: $default-text-color;
                    transition: all $transition-time;
                    width: 80px;

                    &::-webkit-input-placeholder,
                    &::-moz-placeholder {
                        color: $default-text-color;
                    }

                    &:focus {
                        width: 150px;
                    }
                }
            }

            >.item {
                cursor: pointer;
                padding: 15px 20px;

                &:hover {
                    opacity: .8;
                }
            }

            >.space {
                flex: auto;
            }
        }

        >.footer {
            text-align: center;
            font-size: 13px;
            letter-spacing: 1px;
            padding: 15px 0;
        }

        >.content {
            flex: auto;


            .onesay {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;

                .text {
                    position: relative;
                    text-shadow: 3px 3px 8px #00000075;
                    transition: all 1s;

                    @at-root .main:not(.blur) .onesay .text {
                        text-shadow: 5px 5px 1px #00000075 !important;
                        transform: translateY(10px) scale(1.01);
                    }
                    background-color: #00000030;
                    padding: 5px 15px 5px 15px;
                    border-radius: 25px;

                    >p {
                        opacity: 0;
                        margin: 18px;
                    }

                    >p.phrase {
                        font-size: 36px;
                        text-align: center;
                    }

                    >p.quote {
                        font-size: 20px;
                        text-align: right;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        height: 5px;
                        background-color: white;
                        opacity: 0;
                    }

                    &.line-animed:before {
                        animation: line 1s ease both;
                    }


                    &.text-animed>p {
                        animation: fade-up 1s ease both;
                    }
                }
            }

        }

    }


    @keyframes line {
        from {
            opacity: 0;
            transform: scaleX(.3)
        }

        30% {
            opacity: 1;
            transform: scaleX(.3)
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
            transform: scaleX(1) scaleY(0.5)
        }
    }


    @keyframes fade-up {
        from {
            opacity: 0;
            transform: translateY(5px);
        }

        to {

            opacity: 1;
            transform: translateY(0);
        }
    }

}
